.card {
	position: relative;
	width: 93px;
	height: 120px;
	cursor: pointer;
	@include transform-style(preserve-3d);
	@include perspective(150px);
	@include transform(translateZ(150px));
}
.card--p1,
.card--p2 {
	@extend .card;
}
.card__face {
	position: absolute;
	top: 0;
	left: 0;
	@include backface-visibility(hidden);
	@include transition(all 0.5s ease-in-out);
}
.card__face--1 {
	@extend .card__face;
	@include linear-gradient(#E7E7E7, #2142BD);
}
.card__face--2 {
	@extend .card__face;
	@include linear-gradient(#F8C8E8, #984968);
}
.card--p1 {
	.card__face--2 {
		@include transform(perspective(150px) rotateY(179.9deg));
	}
}
.card--p2 {
	.card__face--1 {
		@include transform(perspective(150px) rotateY(-179.9deg));
	}
}

.card-holder {
	float: left;
	width: 93px;
	padding-top: 20px;
}
.card-holder--active {
	@extend .card-holder;
	background-color: yellow;
}

.grid {
	position: relative;
	float: left;
	width: 279px;
	height: 360px;
	margin: 0 50px;
}
.grid__item {
	position: absolute;
	width: 93px;
	height: 120px;
	border: 1px solid grey;
	border-collapse: collapse;
}
.grid__item--1 {
	top: 0;
	left: 0;
}
.grid__item--2 {
	top: 0;
	left: 93px;
}
.grid__item--3 {
	top: 0;
	left: 186px;
}
.grid__item--4 {
	top: 120px;
	left: 0;
}
.grid__item--5 {
	top: 120px;
	left: 93px;
}
.grid__item--6 {
	top: 120px;
	left: 186px;
}
.grid__item--7 {
	top: 240px;
	left: 0;
}
.grid__item--8 {
	top: 240px;
	left: 93px;
}
.grid__item--9 {
	top: 240px;
	left: 186px;
}