.card {
	position: relative;
	width: 150px;
	height: 150px;
	border: 1px solid black;
	cursor: pointer;
	@include transition (background-color 0.5s ease-in-out);

	* {
		position: absolute;
		text-align: center;
		padding: 10px;
		color: white;
	}
}
.card--p1 {
	@extend .card;
	background-color: blue;
}
.card--p2 {
	@extend .card;
	background-color: red;
}

.card__name {
	bottom: 0;
	width: 100%;
}
.card__up {
	top: 0;
	width: 100%;
}
.card__right,
.card__left {
	position: absolute;
	top: 30px;
	width: 50%;
}
.card__right {
	right: 0;
}
.card__left {
	left: 0;
}
.card__down {
	top: 60px;
	width: 100%;
}

.card-holder {
	float: left;
	width: 150px;
	padding-top: 20px;
}
.card-holder--active {
	@extend .card-holder;
	background-color: yellow;
}

.grid {
	position: relative;
	float: left;
	width: 450px;
	height: 450px;
	margin: 0 50px;
}
.grid__item {
	position: absolute;
	width: 150px;
	height: 150px;
	border: 1px solid grey;
	border-collapse: collapse;
}
.grid__item--1 {
	top: 0;
	left: 0;
}
.grid__item--2 {
	top: 0;
	left: 150px;
}
.grid__item--3 {
	top: 0;
	left: 300px;
}
.grid__item--4 {
	top: 150px;
	left: 0;
}
.grid__item--5 {
	top: 150px;
	left: 150px;
}
.grid__item--6 {
	top: 150px;
	left: 300px;
}
.grid__item--7 {
	top: 300px;
	left: 0;
}
.grid__item--8 {
	top: 300px;
	left: 150px;
}
.grid__item--9 {
	top: 300px;
	left: 300px;
}